.contact-section {
  height: 800px;
  .contact-block {
    width: 1000px;
    height: 500px;
    margin: 10px auto;
    text-align: center;
    div {
      input {
        height: 10px;
        width: 720px;
        padding: 20px 30px;
        border: 1px solid #e8e8e8;
        border-radius: 2px;
        margin-bottom: 35px;
        outline: none;
      }
      input::placeholder {
        margin: 0;

        font-size: 16px;
        font-family: 'Arimo', sans-serif;
        color: black;
        opacity: 0.5;
      }
      button {
        margin-top: 40px;
        width: 120px;
        height: 50px;
        background: #d80606;
        color: white;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        font-family: 'Arimo', sans-serif;
        letter-spacing: 2px;
        text-transform: uppercase;
        border: 1px solid #ff0000;
        border-radius: 2px;
        outline: none;
      }
      button:hover {
        color: #d80606;
        cursor: pointer;
        background: #cccccc;
        border: 0;
      }
    }
    textarea {
      height: 110px;
      width: 720px;
      padding: 20px 30px;
      border: 1px solid #e8e8e8;
      border-radius: 2px;
      outline: none;
    }
    textarea::placeholder {
      margin: 0;

      font-size: 16px;
      font-family: 'Arimo', sans-serif;
      color: black;
      opacity: 0.5;
    }
  }
}
