.content-section {
  padding: 0;
  height: 330px;
  background-color: #000000ed;
  div {
    width: 750px;
    height: 250px;
    margin: auto;
    text-align: center;

    h6 {
      text-align: center;
      margin: 0;
      padding: 100px 0 15px 0;
      font-size: 26px;
      font-family: 'Roboto', sans-serif;
      font-weight: normal;
      color: white;
    }
    p {
      text-align: center;
      margin: 0;
      font-size: 14px;
      font-family: 'Roboto', sans-serif;
      color: white;
    }
  }
}
